<div class="c_head_background">
  <div class="c_head_div">
    <p class="c_head"> Social Media Manager</p>
    <p class="c_head1"> Wellington, Marketing, Full-time</p>
    <%= link_to "APPLY NOW",  director_f_careers_path, class:"button_a  head_b" %>
  </div>

  <div class="body_div" >
    <p class="c_subhead">Job Description</p>

    <p>The Social Media Manager will implement the company’s Social Media marketing strategy. Administration includes content strategy, develop brand awareness, generate inbound traffic and cultivate leads and sales. The Social Media manager is a highly motivated individual with experience and a passion for designing and implementing the Company’s content strategy, creating relevant content, blogging, community participation and leadership. This position is full time salaried with benefits, including attendance at Social Media, blogging and industry-specific conferences.
    </p>

    <br>
    <p  class="c_subhead">Responsibilities</p>

    <ul class="myul">
      <li><span>Great Design and branding across all our digital assets
</span></li>
      <li><span>Solid Content Strategy
</span></li>
      <li><span>Promotion Strategy
</span></li>
      <li><span>Engagement Strategy</span></li>
      <li><span>Conversion Strategy</span></li>
      <li><span>Measure & Analyse.</span></li>
    </ul>

    <br>

    <p  class="c_subhead">Essential Duties</p>

    <ul class="myul">
      <li><span>Manage Social Media marketing campaigns and day-to-day activities including:
	Curate relevant content to reach the company’s ideal customers.
	Create, curate, and manage all published content (images, video and written).
	Monitor, listen and respond to users in a “Social” way while cultivating leads and sales.
	Conduct online advocacy and open stream for cross-promotions.
	Develop and expand community and/or blogger outreach efforts.
	Oversee design (ie: Facebook Timeline cover, profile pic, thumbnails, ads, landing pages, Twitter profile, and blog).
	Design, create and manage promotions and Social ad campaigns. Compile report for management showing results (ROI).</span></li>
      <li><span>Become an advocate for the Company in Social Media spaces, engaging in dialogues and answering questions where appropriate.
</span></li>
      <li><span>Demonstrate ability to map out marketing strategy and then drive that strategy proven by testing and metrics.
</span></li>
      <li><span>Develop a strategy and implement a proactive process for capturing customer online reviews. Monitor online ratings and respond accordingly.
</span></li>
      <li><span>Monitor trends in Social Media tools, applications, channels, design and strategy.
</span></li>
      <li><span>Identify threats and opportunities in user generated content surrounding the business. Report notable threats to appropriate management.
</span></li>
      <li><span>Analyse campaigns and translate anecdotal or qualitative data into recommendations and plans for revising the Social Media campaigns.
</span></li>
      <li><span>Monitor effective benchmarks (best practices) for measuring the impact of Social Media campaigns. Analyse, review, and report on effectiveness of campaigns in an effort to maximize results.
</span></li>
    </ul>
    <br>

      <br>

    <p  class="c_subhead">Qualifications and Experience</p>

    <ul class="myul">
      <li><span>Possesses knowledge and experience in the tenets of traditional marketing. Marketing degree is welcomed but not required with relevant work experience.
</span></li>
      <li><span>Demonstrates creativity and documented immersion in Social Media.
</span></li>
      <li><span>Proficient in content marketing theory and application. Experience sourcing and managing content development and publishing.
</span></li>
      <li><span>Exhibits the ability to jump from the creative side of marketing to analytical side, able to demonstrate why their ideas are analytically sound.
</span></li>
      <li><span>Displays in-depth knowledge and understanding of Social Media platforms, their respective participants (Facebook, Twitter, Yelp, Google+Local, YouTube, Instagram, Pinterest etc.) and how each platform can be deployed in different scenarios.
</span></li>
      <li><span>Maintains excellent writing and language skills.
</span></li>
      <li><span>Enjoys a working knowledge of the blogging ecosystem relevant to the Company’s field.
</span></li>
      <li><span>Displays ability to effectively communicate information and ideas in written and video format.
</span></li>
      <li><span>Exceeds at building and maintaining sales relationships, online and off.
</span></li>
      <li><span>Is a Team player with the confidence to take the lead and guide other employees when necessary. (ie: content development, creation and editing of content, and online reputation management).
</span></li>
      <li><span>Makes evident good technical understanding and can pick up new tools quickly.
</span></li>
      <li><span>Maintains a working knowledge of principles of SEO including keyword research. Highly knowledgeable in the principles of “Search and Social”.
</span></li>
      <li><span>Demonstrates winning Social Customer Service techniques. Possesses great ability to identify potential negative or crisis situation and apply conflict resolution principles to mitigate issues.
</span></li>


    </ul>
    <br>
    <P>Interested? Send us your resume below and we will be in contact.</P>

    <br>
    <br>
    <br>
    <br>
    <%= link_to "APPLY NOW",  director_f_careers_path, class: "button_a foot_b" %>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "Go back to careers page", careers_path, class: "go_back" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
