<div class="c_head_background">
  <div class="c_head_div">
    <p class="c_head"> Senior Web Development Engineer</p>
    <p class="c_head1"> Wellington, Development, Full-time</p>
    <%= link_to "APPLY NOW", ruby_f_careers_path, class:"button_a  head_b" %>
  </div>


  <div class="body_div" >
    <p class="c_subhead">Job brief</p>

    <p>Homes.co.nz aims to be NZ’s most comprehensive property website, focused on empowering users with the resources they need to make better-informed property decisions. We help users both find their next home and research the market by combining hundreds of thousands of property listings with market data, local information and community tools.
    </p>

    <p>We are looking to now bolster our team and are now seeking a talented engineer/team leader to take on the role of developing the homes.co.nz product.
    </p>

    <br>
    <p  class="c_subhead">Responsibilities include:</p>

    <ul class="myul">
      <li ><span>Ground-up design, implementation, and testing of product features
</span></li>
      <li ><span>Design and development of software based solutions
</span></li>
      <li ><span>Develop web applications to allow consumers and property professionals to draw useful insights into property and other data captured from various sources
</span></li>
      <li ><span>Real time data processing and presentation of data for the property industry
</span></li>
      <li ><span>Develop web APIs and services for the Homes Connect cloud-based mobile property data platform
</span></li>
      <li ><span>Optimise applications and the system for performance, stability, and scalability
</span></li>
    </ul>
    <p>The ideal candidate will be a team player with excellent development skills and a solid understanding of web technologies and cloud-based deployments.  Excellent organisational skills, a commitment to quality and an optimistic, can-do attitude are a must.
    </p>

    <br>

    <p  class="c_subhead">Minimum Experience/Qualifications include:
    </p>

    <ul class="myul">
      <li><span>5+ Years of industry experience designing and developing web applications that shipped
</span></li>
      <li><span>Solid experience with a Javascript, HTML5, AJAX, Ruby, REST, JSON
</span></li>
      <li><span> Significant experience with Ruby on Rails and at least one other web application framework
</span></li>
      <li><span>Experience with SQL databases, distributed caching, and web security
</span></li>
      <li><span>Experience with agile development methodologies, continuous integration, test-driven development
 </span></li>
      <li><span> Expert in design, specification, and test of cloud based software
</span></li>
      <li><span> Excellent interpersonal and communication skills
</span></li>
      <li><span>Strong experience with sophisticated source control systems, preferably git.
</span></li>
    </ul>
    <br>
    <P>Interested? Send us your resume below and we will be in contact.</P>

    <br>
    <br>
    <br>
    <br>
    <%= link_to "APPLY NOW", ruby_f_careers_path, class: "button_a foot_b" %>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "Go back to careers page", careers_path, class: "go_back" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>










