
<div class="policy_body">
<h1> Website Terms and Conditions </h1>
<h2>1. Introduction</h2>
<p> 1.1 This Agreement sets out the terms under which you may use and access this Website.</p>
<p>1.2 By accessing or using this Website you warrant and represent that you have read, understood and agree to be bound by the terms of this Agreement. Please read these Website Terms and Conditions carefully before using this Website. If you do not agree to all of the Website Terms and Conditions, do not use the Website.</p>

  <h2>2. Definitions</h2>

<p>In these Website Terms and Conditions:</p>


  <p>(a) <strong>“Agreement”</strong> means these Website Terms and Conditions and any other terms incorporated by reference into this Agreement;
  </p>
  <p>(b) <strong> “Content”</strong> means the information and other data accessible by you on the Website, excluding any information or other content accessible to you from a Third Party Website;
  </p>
  <p>(c) <strong>“Contributions”</strong> means information including data, text, video, still images, audio or other material that Homes has permitted you to host, share, publish, post, store or upload on the Website as Content as permitted under this Agreement, and include Listing Content;
  </p>
  <p>(d) <strong>“Listing Content”</strong> means information relating to homes you have listed for sale or rent on the Website, including images, video, text, data and/or other materials;
  </p>
  <p>(e) <strong>“Other User Contributions”</strong> mean information including data, text, video, still images, audio or other material that Homes has permitted users other than you to host, share, publish, post, store or upload on the Website as Content;
  </p>
  <p>(f) <strong>“Third Party Website”</strong> means a website controlled by a person other than Homes and which is linked to the Website;
  </p>
  <p>(g) <strong>“Website”</strong> means www.homes.co.nz and all subpages accessible via that URL; and
  </p>
  <p>(h) <strong>“Homes”</strong> means PropertyNZ Limited NZBN 9429030374027.
  </p>


<h2>3. Permitted Use</h2>
  <p>You may:
  </p>
  <p>(a) access the Website in order to view, retrieve and display the Content;
  </p>
  <p>(b) make Contributions;
  </p>
  <p>(c) electronically save parts of the Content; and
  </p>
  <p>(d) print out single copies of parts of the Content.
  </p>
  <h2>4. Prohibited Use
  </h2>


  <p>4.1 You agree not to, at any time:</p>
  <p>(a) publish, communicate or adapt any of the information or Content accessible on the Website unless explicitly permitted to do so by this Agreement;
  </p>
  <p>(b) make copies in any form of all or parts of the Content other than as may be reasonably required for your personal non-commercial use;
  </p>
  <p>(c) make Contributions that include commercial or advertising material such as promotional links, messages, logos within reviews, discussions, profile photos and usernames;
  </p>
  <p>(d) alter or modify any part of the Website other than as may occur through the intended use of the Website;
  </p>
  <p>(e) adapt, translate, reverse engineer, dissemble or decompile the Website or any part of the Website;
  </p>
  <p>(f) directly or indirectly introduce or permit the introduction of any virus, worm, Trojan or other malicious code or item of a destructive nature in or on the Website, or in any manner whatsoever interfere with the operation of the Website via the use of any programme or technology that may corrupt, degrade or disrupt the Website or interfere with any other party’s use and enjoyment of the Website;
  </p>
  <p>(g) infringe the copyright or other intellectual property rights of any other person, or remove any copyright, trademark, electronic rights management information or other proprietary rights notices contained in or on the Website;
  </p>
  <p>(h) use any robot, spider, site search/retrieval application, offline reader, or other device to retrieve or index any part of the Website except as permitted by clause 4.2;
  </p>
  <p>(i) collect any information about other users or members (including usernames and/or email addresses) for any purpose other than the purposes of the Website and only where the information is intentionally made available or provided for through the Website;
  </p>
  <p>(j) reformat or frame any part of the web pages that are part of the Website;
  </p>
  <p>(k) create user accounts by automated means or under false or fraudulent pretences, or impersonate another person or entity;
  </p>
  <p>(l) create or transmit unwanted electronic communications such as 'spam' to other users of the Website or otherwise interfere with other user's enjoyment of the Website;
  </p>
  <p>(m) use the Website to violate the security of any computer network, crack passwords or security encryption codes, transfer or store illegal material or otherwise undertake any purpose that is unlawful or not permitted by this Agreement;
  </p>
  <p>(n) take any action that imposes, or may impose in Homes’ sole discretion, an unreasonable or disproportionately large load on its IT infrastructure;
  </p>
  <p>(o) upload, post or otherwise transmit or disseminate any software, material, comment or information that is unlawful, tortious, obscene, vulgar, defamatory, pornographic, indecent, lewd, harassing, threatening, hateful, harmful, invasive of privacy or publicity rights, abusive, inflammatory, or racially, ethnically or otherwise objectionable;
  </p>
  <p>(p) defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others; and
  </p>
  <p>(q) harm or bully anyone, including minors, in any way.
  </p>


<p>4.2 Homes permits public search engines to use spiders or other search and retrieval applications to copy materials from the Website for the sole purpose of creating publicly available search indices of the materials, but not caches or archives of materials from the Website.</p>
<h2>5. Contributions</h2>
<p>5.1 Homes permits you to make Contributions in accordance with this Agreement and in particular this clause 5. Contributions that you make must be solely for personal, non-commercial purposes. You retain sole responsibility and accept all liability for your Contributions. Homes:</p>


  <p>(a) disclaims any and all liability in connection with the Contributions to the fullest extent permitted by law;
  </p>
  <p>(b) assumes no responsibility for monitoring any of the Contributions;
  </p>
  <p>(c) does not in any way endorse any information contained in the Contributions including any opinion, recommendation or advice expressed; and
  </p>
  <p>(d) is under no obligation to treat your Contributions as confidential.
  </p>

<p>5.2 Homes may at any time, without liability to you, remove, alter or disable access to any or all of your Contributions in its sole discretion without prior notice to you. Without limiting the generality of Homes’ rights under this clause 5.2, Homes may remove or disable access to any or all your Contributions if it considers that those Contributions:</p>

  <p>  (a)  breach any law or regulation;
  </p>
  <p>(b)  infringe the intellectual property rights of any third party;
  </p>
  <p>(c)  directly or indirectly advertise or market any products or services not belonging to Homes; or
  </p>
  <p>(d)  are:
  </p>

  <ul>
    <li>(i) misleading or deceptive;
    </li>
    <li>(ii) inappropriate;
    </li>
    <li>(iii) likely to cause offence;
    </li>
    <li>(iv) materially incorrect;
    </li>
    <li>(v) obscene;
    </li>
    <li>(vi) defamatory;
    </li>
    <li>(vii) otherwise unlawful; or
    </li>
    <li>(viii) corrupted, due to the presence of a virus or other disabling code.
    </li>
  </ul>




<p>5.3 Subject to clause 5.4, you retain all intellectual property rights subsisting in your Contributions.</p>
<p>5.4 You grant Homes a worldwide, nonexclusive, royalty-free, perpetual, transferable and irrevocable license to use, reproduce, modify, adapt, translate, distribute and publish your Contributions. You also grant each user of the Website a nonexclusive licence to use, reproduce, adapt, translate, distribute and display your Contributions as permitted by Homes and this Agreement.</p>
<P>5.5 You grant Homes the right to use your registered name or the name you submit with the Contribution, and the right to represent and warrant that:</p>
  <br>

  <p>  (a) you own and control all of the rights to the Contributions; or
  </p>
  <p>(b) you have the lawful right including all necessary licences, rights, consents, and permissions to use and authorise Homes to display the Contributions as Content; and
  </p>
  <p>(c) the Contribution does not infringe the intellectual property rights of any third party.
  </p>
  <br>

  <p>5.6 For any Contributions that you may have moral rights in, you agree that:
  </p>
  <br>
  <p>(a) you do not require that any personally identifying information be used in connection with the Contribution, or any derivative work, upgrade or update of the Contribution;
  </p>
  <p>(b) you have no objection to the publication, use, modification, deletion and exploitation of the Contribution by Homes;
  </p>
  <p>(c) you waive and agree not to assert any entitlement to any and all moral rights of an author in any Contribution; and
  </p>
  <p>(d) you release Homes from any claims that you could assert against Homes by virtue of any such moral rights.
  </p>
  <br>
  <p>5.7 You understand that when accessing the Website, you may be exposed to Other User Contributions. You acknowledge and agree that Homes has no control of, and is not responsible for, Other User Contributions. You release Homes from any claims that you could assert against Homes relating to or in connection with Other User Contributions.
  </p>

<h2>6. User Warranties</h2>
  <p>6.1 You represent and warrant that:
  </p>
  <p>(a) you will only use the Content as permitted under clause 3;
  </p>
  <p>(b) the information you supply on registration is accurate in all respects;
  </p>
  <p>(c) if any of the information you supply on registration changes you will promptly update this information;
  </p>
  <p>(d) your use of the Website will comply at all times with this Agreement, the Listing Terms and Conditions, Homes’ Privacy Policy and any other directions published from time to time by Homes on the Website;
  </p>
  <p>(e) you will keep your username and password by which you access the Website confidential and secure at all times and not disclose it to any third party;
  </p>
  <p>(f) you will promptly notify Homes of any unauthorised or suspected unauthorised use of your username or password;
  </p>
  <p>(g) you accept all liability for any unauthorised use of any username and password issued except for unauthorised use resulting from any negligent act or omission attributable to Homes;
  </p>
  <p>(h) you have the lawful right including all necessary licences, rights, consents, and permissions to use and authorise Homes to display your Contributions as Content.
  </p>
  <br>
  <p>6.2 You further warrant that you will not make any Contributions that:
  </p>
  <p>(a) infringe the intellectual property rights of any third party;
  </p>
  <p>(b) are misleading or deceptive;
  </p>
  <p>(c) are materially incorrect;
  </p>
  <p>(d) are likely to cause offence;
  </p>
  <p>(e) directly or indirectly involve the advertising or marketing of any products or services not belonging to Homes;
  </p>
  <p>(f) are obscene, including pornographic, hateful, racially or ethnically offensive material;
  </p>
  <p>(g) are defamatory;
  </p>
  <p>(h) are otherwise unlawful or encourage unlawful conduct; or
  </p>
  <p>(i) are otherwise inappropriate.
  </p>

  <h2>7.  Privacy
  </h2>
  <p>Homes collects, uses and discloses personal information about you, as outlined in detail within our Privacy Policy.
  </p>
  <h2>8. Intellectual Property Rights
  </h2>
  <p>8.1 You acknowledge and agree that all copyright and other intellectual property rights in the Content (other than Contributions made by you) are owned by or licensed to Homes and that nothing in this Agreement conveys to you any right to title or interest in the Content other than as expressly granted by this Agreement.
  </p>
  <p>8.2 To the extent that you may obtain any rights whatsoever in the Content, you agree to assign these to Homes on request at Homes’ own cost, and to do all things as may reasonably be required to effect this.
  </p>
  <p>8.3 No licence is granted to any person in respect of the intellectual property rights owned or licensed by Homes in connection with the Website. You must obtain written consent from Homes if you wish to use any of Homes’ intellectual property.
  </p>
  <h2>9. Amendments To This Agreement
  </h2>
  <p>9.1  Homes may amend this Agreement at any time without notice. Your use of the Website following any amendments will represent your agreement to be bound by this Agreement as amended.
  </p>
  <p>9.2 If you do not accept an amendment made by Homes to the terms of this Agreement, your only remedy (except as set out elsewhere in this Agreement) is to immediately cease accessing the Website.
  </p>

  <h2>10. Third Party Websites
  </h2>
  <p>You may be able to access Third Party Websites from the Website. You agree that:
  </p>
  <p>(a) Homes makes no representations and has no liability to you arising from or in connection with any use of any Third Party Website or any information or other content accessible to you from any Third Party Website; and
  </p>
  <p>(b) your access to and use of any Third Party Website and information and other content available on it may be governed by terms imposed by the operator of the Third Party Website.
  </p>

  <h2>11. Hyperlinks
  </h2>
  <p>11.1 You may create a text hyperlink to the Website for non-commercial purposes, provided the link does not:
  </p>
  <p>(a) portray Homes or any of its products or services in a false, misleading, derogatory or otherwise defamatory manner; and
  </p>
  <p>(b) link to a site other than < Homes.co.nz>.
  </p>
  <p>11.2 The right contained in clause 11.1 may be revoked at any time.
  </p>
  <p>11.3 Notwithstanding clause 11.1, you may not use a Homes logo or other graphic owned by Homes to link to the Website without the express written permission of Homes.
  </p>
  <p>12. Exclusion Of Implied Warranties
  </p>
  <p>All warranties, whether express or implied, with respect to the functionality, availability, accuracy, currency, completeness, merchantability and fitness for purpose of the Website and the Content are expressly disclaimed to the extent permitted by law.
  </p>

  <h2>13. Indemnity
  </h2>
  <p>You agree to indemnify and hold Homes, its subsidiaries and affiliates (and the officers, agents, partners and employees of each of the foregoing) harmless against any and all loss, liability, claim or demand (including reasonable attorneys’ fees) arising out of, or in connection with, your use and access to the Website, your Contributions to the Content or any breach by you of this Agreement.
  </p>

  <h2>15. Limited Liability
  </h2>
  <p>  15.1 You acknowledge and agree that:
  </p>
  <p>(a) to the maximum extent permitted at law, any and all liability of us and our directors, officers and employees to you under or in connection with this Agreement, the Website or your use of the Website is excluded; and
  </p>
  <p>(b) the exclusion in paragraph (a) applies regardless of whether liability arises in contract, tort (including negligence), equity or by statute or other legislation, and whether such liability is for direct, indirect, consequential or punitive losses or damages, or loss of profit, income, data, business opportunity or anticipated savings.
  </p>
  <p>15.2 It is up to you to ensure you are protected against viruses, worms, trojan horses, spyware, malware or other items of a destructive or harmful nature.
  </p>
  <p>15.3  Homes ‘aggregate liability to you for any cause of action whatsoever will at all times be limited to NZ$100.00.
  </p>
  <h2>16. Governing Law
  </h2>
  <p>This Agreement, your use of this Website, any information contained on it, and any dispute arising out of any use of this Website are subject to the laws of New Zealand. You irrevocably and unconditionally submit to the non-exclusive jurisdiction of the courts of New Zealand in relation to this Agreement, your use of this Website and any dispute arising out of such use of this Website.
  </p>
  <h2>17. Severability
  </h2>
  <p>If any provision of terms in this Agreement becomes or is held to be invalid, unenforceable or illegal for any reason, and in any respect, that provision shall be severed from the remaining Terms, which shall continue in full force and effect.
  </p>
  <h2>18. Listing
  </h2>
  <p>Where you have listed any homes for sale or rent on the Website, the Listing Terms and Conditions shall apply to each listing in addition to this Agreement.
  </p>




<br>
<br>
<br>
<br>


  <h1>Privacy Policy </h1>

  <h2>1. Introduction</h2>

  <p>  1.1 This policy outlines our practices for managing the personal information we hold about our registered members, potential members and others. The purpose of this policy is to allow users of the Homes Website and/or Services to make an informed decision when releasing personal information.
  </p>
  <p>  1.2 This policy is incorporated into and subject to the Homes Website Terms and Conditions.
  </p>
  <p>  1.3 We are committed to protecting information we collect and use, and to complying with our obligations under the Privacy Act 1993. Protecting your privacy and your personal information is important to us.
  </p>
  <ul>
    <li>  •	 “Services” means the online realty service offered by Homes and anything else we do for you;
    </li>
    <li>  •	“we”, “us”, “our” and “Homes” means PropertyNZ Limited with its office at 15 Chilton Grove, Lower Hutt, 5010; and
    </li>
    <li>  •	“Website” means www.homes.co.nz.
    </li>
  </ul>

  <h2>  2. What personal information does Homes collect?
  </h2>
  <p>  2.1 In general, the type of personal information we collect and hold includes (but is not limited to) names, addresses, contact details, date of birth, occupation and any other information provided by you through your use of the Website and/or the Services.
  </p>
  <p>  2.2 Other information may be collected such as the answers you supply when you complete surveys, questionnaires, polls, and answer other general questions that are presented to you via the Website, Homes Facebook page, Homes Twitter page, email, telephone conversations, face-to-face meetings, interviews or in any other way.
  </p>

  <h2>  3. What is the purpose of collection of your personal information?
  </h2>
  <p>  Any information we collect from you may be used for a number of purposes connected to conducting our business, providing and marketing our Services and products and meeting our legal obligations, such as:
  </p>
  <p>  (a) updating you via email on the progress of Homes’ development;
  </p>
  <p>  (b) processing your application to use or register for the Website and/or Services, and providing you with the Services you have requested;
  </p>
  <p>  (c) inviting you to complete surveys, questionnaires, polls and answer other general questions;
  </p>
  <p>  (d) dealing with your requests, enquiries, complaints, and/or other customer care related activities;
  </p>
  <p>  (e) informing you of any special offers or promotions that are relevant to your relationship with Homes or that you have opted in to receive;
  </p>
  <p>  (f) identifying appropriate targeting parameters for the online marketing of Homes on various online and social media;
  </p>
  <p>  (g) developing, reporting, and making publicly available, statistics and research (where the information used is in an aggregate form only and does not include any identifiable personal information);
  </p>
  <p>  (h) general business and administrative purposes;
  </p>
  <p>  (i) to help us manage and enhance our services;
  </p>
  <p>  (j) for legal, government or regulatory purposes; and
  </p>
  <p>  (k) for any other purpose as may be advised to you from time to time.
  </p>


  <h2>  4. How does Homes store and secure your personal information?
  </h2>
  <p>  4.1 Homes is the agency that will collect the information, and which is the intended recipient of the information.  Homes is located at 15 Chilton Grove, Lower Hutt, 5010.
  </p>
  <p>  Please be aware that we may use third party providers, including providers outside of New Zealand, to store and process your personal information, and so your personal information may be held outside of New Zealand.
  </p>
  <p>  4.2 We may record and store personal information which we collect from you and, where we do so, we will take reasonable steps to keep this information secure and to prevent loss, unauthorised disclosure, access, use, misuse or modification. Please be advised, however, that while we strive to do everything reasonably possible to protect your personal information and privacy, we cannot guarantee or warrant the security of any information you disclose or transmit to us and we are not responsible for the theft, destruction, or inadvertent disclosure of your personal information where our security measures have been breached.
  </p>
  <p>  4.3 It is your responsibility to keep your password to the Website safe, and you should notify us as soon as possible if you become aware of any misuse. Your browser must support the encryption security used in connection with our Service, and you should only enter the Website or use our Services when you are in a secure environment.
  </p>

  <h2>  5. When and how can I access my personal information?
  </h2>
  <p>  5.1 At any time you may request us to provide you a copy of any personal information that Homes has stored by contacting us (info@homes.co.nz). We will provide you with your personal information as soon as possible, ordinarily within 14 days after a request has been made.
  </p>
  <p>  5.2 In some cases there may be a charge associated with providing you copies of your personal information if your personal information is not readily available. If so, we will advise you of this before and/or immediately after your request had been made.
  </p>
  <h2>  6. When and how can I correct my personal information?
  </h2>
  <p>  If any of your personal information that has been stored by Homes is not accurate, up to date, complete and/or relevant, or is misleading, then you have a right to request correction of the information.
  </p>
  <h2>  7. How long will my personal information be kept for?
  </h2>
  <p>  Homes will retain your stored personal information for as long as lawfully allowed and is necessary for the purposes for which it is collected.
  </p>
  <h2>  8. What are the limits of use on my personal information?
  </h2>
  <p>  Your personal information will only be used for lawful purposes connected to the purpose for which it was obtained.
  </p>
  <h2>  9. Can my personal information be disclosed?
  </h2>
  <p>  9.1 Your personal information will not be disclosed unless the disclosure is directly related to the purpose for which the information was originally collected or the source of the information is publicly available or the disclosure is authorised by you.
  </p>
  <p>  9.2 We may disclose your personal information to:
  </p>
  <p>  (a) companies or individuals who assist us in providing the Services or who perform functions on our behalf;
  </p>
  <p>  (b) courts, tribunals and regulatory authorities if required by law;
  </p>
  <p>  (c) anyone else whom you authorise us to disclose it to or whom we are entitled disclose it to under the Privacy Act.
  </p>

  <h2>  10. What is a unique identifier and when can they be used?
  </h2>
  <p>  Homes will not assign a unique identifier such as a customer number, to you unless it is necessary to do so.
  </p>
  <h2>  11. What are internet cookies and how do they affect me?
  </h2>
  <p>  11.1 We make every effort to maintain the security of our internet connections; but for reasons outside of our control, security risks may still arise. Any personal information transmitted to us online will therefore be at your own risk. However, we will use our best efforts to ensure that any such information remains secure.
  </p>
  <p>  11.2 A cookie is a piece of programming which enables us to customise services on our Website to help with navigation, monitor usage and to help personalise your experience. For example, a cookie can be used to store previously entered information so that you do not need to re-enter that information on a subsequent visit to the Website. We may send cookies to your computer while you are accessing the Website. We do not use them to collect any personal information about you, although we may collect non-attributed (anonymous) information regarding your use of this Website. Some web browsers enable you to decline the receipt of cookies. If you utilise this function you will still be able to access this Website but without some enhancement features.
  </p>
  <p>  11.3 We may use cookies and other interactive techniques such as web beacons to provide you with the Services, and to serve you better when you return to the Website. We may also collect non-personal information about how you interact with our Website and web-related products to understand what you enjoy and use on our Website (and what you do not use or enjoy on our Website).
  </p>
  <p>  11.4 We also use cookies in the delivery of our online advertising, where banner advertisements are placed on the Website or third party websites. When you view one of our advertisements on the Website or third party website, we or one of our partners may use cookies (see explanation of what these are above) and iframes to collect information which may include (but is not limited to) the following: the server your computer is logged onto, your browser type, the date and time of your visit, and the performance of our marketing efforts.
  </p>
  <p>  11.5 When you access the Website after viewing one of these advertisements, we or one of our partners will collect information on how you utilise the Website, such as which webpages you view.
  </p>
  <p>  11.6 In addition, we may also use Google Analytics to collect information on how you utilise the Website, by using cookies to collect information similar to that listed above.
  </p>
  <p>  11.7 Google Analytics uses this information to perform statistical analysis of aggregate user behaviour, but this analysis is not based on personal information. We use this analysis to measure advertising effectiveness and relative consumer interest in the various areas of the Website and to present relevant advertising on the Website or third party websites where we advertise. Homes may disclose the information collected by Google Analytics, in an aggregate (not personal) form only, to third parties including advertisers or potential advertisers.
  </p>
  <p>  11.8 For more information on Google Analytics, visit the following links: Google Privacy Policy, Google Analytics opt out, Google Analytics website.
  </p>
  <h2>  12. Changes to our privacy policy
  </h2>
  <p>  12.1 Homes may amend this policy at any time. Your use of the Website and/or our Services following any amendments will represent your agreement to be bound by this policy as amended.
  </p>
  <p>  12.2 Any change Homes makes applies from the date it is posted to the Website.
  </p>
  <h2>  13. How do I contact Homes if I have queries?
  </h2>
  <p>  If you have any queries, Homes can be contacted by email at info@homes.co.nz.
  </p>

</div>