*{margin:0;padding:0}
body{font-family: 'Open Sans', sans-serif;font-size:14px;line-height:20px;color:#111;}
a{color:#000;text-decoration:none}
a:hover{text-decoration:none}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin-bottom:15px}
input[type=text], input[type=password], input[type=email], textarea{border:1px solid #ddd;padding:5px}
input[type=submit] {border:none;padding:5px 15px;background:#fff;cursor:pointer}

img{border:none;max-width:100%;height:auto}
.alignleft{float:left;margin-right:10px}
.aligncenter{display:block;margin:10px auto}
.alignright{float:right;margin-left:10px}

.floatleft{float:left}
.floatright{float:right}
.fix{overflow:hidden}
.structure{width: 95%;margin:0 auto;display:block;}


.header_area{}
.header{background-image: image-url('resized.jpg');background-position:center center;background-size:cover;min-height:620px;width: 1280px;margin: 0 auto}
.header_top{}
.header_top_left{}
.header_top_left ul{margin: 0;padding: 0;list-style: none}
.header_top_left ul li{float: left}
.header_top_left ul li a{color: #fff;display: block;padding: 25px;text-transform: uppercase;}
.header_top_left ul li a:hover{color: #67c697;padding: 25px;}
.header_top_right{margin-right: 24px;}
.btn-default{}
.headertop_button{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #fff;border-radius: 5px;color: #fff;margin-top: 18px;padding: 12px 55px;text-transform: uppercase;}
.headertop_button:hover{  }
.header_bottom{padding: 0 540px;}
.header_bottom img{margin-left: 1px;margin-top: 160px; background-color: #464646; opacity: 0.6 ; }
.header_bottom h1{color: #ffffff ;text-align: center; font-size: 30px;font-family: 'Open Sans', sans-serif }
.header_bottom p{color: #DDDADA;text-align: center;}
.header_bottom h2{color: #DDDADA;text-align: center}
.header_submit{padding: 30px 292px;}
.newsletter_bottom {display: block;margin-top: 84px;text-align: center;}
.newsletter_bottom p{color: #fff;font-size: 16px;text-align: center;}
.newsletter_bottom i{color: #fff;display: block;font-size: 35px;text-align: center;}

.portfolio_area{}
.portfolio{padding: 100px 200px;}
.portfolio_text{margin-bottom: 64px}
.portfolio_1, .portfolio_2, portfolio_3{width: 940px}
.portfolio_1{}
.auckland h2{position: absolute;margin-top: -166px;margin-left: 238px;font-size: 26px;color: #fff;}
.queenstown h2{position: absolute;margin-top: -166px;margin-left: 72px;font-size: 26px;color: #fff;}

.wellington h2{position: absolute;margin-top: -166px;margin-left: 82px;font-size: 26px;color: #fff;}
.nelson h2{position: absolute;margin-top: -166px;margin-left: 100px;font-size: 26px;color: #fff;}
.tauranga h2{position: absolute;margin-top: -166px;margin-left: 86px;font-size: 26px;color: #fff;}

.dunedin h2{position: absolute;margin-top: -166px;margin-left: 86px;font-size: 26px;color: #fff;}
.christchurch h2{position: absolute;margin-top: -166px;margin-left: 216px;font-size: 26px;color: #fff;}

.portfolio_1 img{margin-bottom: 33px;margin-right: 33px;}
.portfolio_2{}
.portfolio_2 img{margin-bottom: 33px;margin-right: 30px;}
.portfolio_3{width: 940px}
.portfolio_3 img{margin-bottom: 33px;margin-right: 31px;}
.portfolio_3single{}
.portfolio_text h1{color:#777777;text-align: center; font-size: 30px;}
.portfolio_text p{color: #BABABA;text-align: center;margin-top: 24px}

.map_area{}
.map{}
.map_text{}
.map_text h2{font-size: 30px;color: #777777;padding-bottom: 12px;padding-top: 10%;text-align: center;position: absolute;padding-left: 35%;}
.map_text p{color: #777777;font-size: 16px;text-align: center;position: absolute;padding-top: 17%;padding-left: 22%;}

.message_area{}
.message{padding-top: 96px}
.message h1{color: #777777;text-align: center;font-size: 30px;}
.message p{color: #BABABA;text-align: center;margin-top: 24px}
.message img{margin-top: 60px;padding: 0 308px;padding-bottom: 66px;}


.launch { color: #ffffff ;text-align: center; font-size: 30px;font-family: 'Open Sans', sans-serif }
.launching_area{}
.launching{background: #313944 none repeat scroll 0 0;padding: 138px 282px 194px;}
.launching h1{color: #ffffff;padding-bottom: 30px;text-align: center; font-family: 'open sans', sans-serif; font-size: 30px;}
.newsletter_singup_form input[type=text]{border: 1px solid #cacaca;border-radius: 5px;float: left;margin-right: 25px;padding: 22px;width: 82%;}
.newsletter_singup_form input[type=submit]{background: #1db290 none repeat scroll 0 0;border-radius: 5px;color: #ffffff;float: left;font-size: 16px;padding: 22px;width: 100px;}
.newsletter_singup_form input[type=submit]:hover{}

.fotter_area{}
.fotter{padding: 64px 186px;}
.company{width: 215px;}
.company p{color: #8d8d8d;font-size: 16px;text-transform: uppercase;}
.company ul{margin: 0;padding: 0;list-style: none;}
.company ul li{}
.company ul li a{color: #bababa;display: block;font-size: 15px;padding: 8px 0;}
.company ul li a:hover{}
.find_our_online{width: 536px;}
.find_our_online p{color: #8d8d8d;font-size: 16px;text-transform: uppercase;}
.find_our_online ul{margin: 0;padding: 0;list-style: none;}
.find_our_online ul li{}
.find_our_online ul li a{color: #bababa;display: block;font-size: 15px;padding: 8px 0;}
.find_our_online ul li a:hover{}
.company_logo{}
.company_logo img{padding-left: 0px; height: 60px; }
.company_logo h4{color: #8D8D8D;}
.company_logo p{color: #BABABA;margin-top: 16px}

.about_us{background-image: image-url('about_hero_final.jpg');background-position:center center;background-size:cover;min-height:464px;width: 1280px;margin: 0 auto}
.about_us h2{color: #ffffff ;padding-top: 150px;text-align: center; font-family: 'open sans', sans-serif; font-size: 30px;}

.ourstory_area{background: #F6F6F6;}
.ourstory{padding: 80px 334px;text-align: center;}
.ourstory h2{color: #777777; font-size: 30px;}
.ourstory p{color: #8D8D8D;line-height: 18px}

.meet_the_team_area{}
.meet_the_team{padding: 60px 172px 20px;}
.single_team{float: left;text-align: center;width: 230px;}
.single_team h2{color: #777777;}
.single_team p{color: #BABABA;}
.single_meet_team{}
.avater{display: block;background: #F6F6F6;height: 200px;width: 200px;}
.avater_button{background: #1db290 none repeat scroll 0 0;border-radius: 5px;color: #fff;display: block;font-size: 18px;margin: 64px 320px;padding: 21px 21px;text-align: center;}
.avater_button:hover{color: #fff}

.get_in_touch_area{background: #313944;}
.get_in_touch{padding: 90px 196px}
.get_in_touch h2{text-align: center;padding-bottom:  35px;color: #ffffff ; font-size: 30px; font-family: 'open sans', sans-serif; }
.send_bottom{width: 430px;}
.send_bottom input[type=text]{border-radius: 5px;box-shadow: 0 1px 0 #fff;padding: 20px;width: 429px;margin-bottom: 16px;}
.send_bottom input[type=email]{margin-bottom: 16px;border-radius: 5px;box-shadow: 0 1px 0 #fff;padding: 20px;width: 429px;}
.send_bottom input[type=textarea]{border-radius: 5px;height: 163px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px; width: 429px;}
.send_bottom_message {border-radius: 5px;height: 163px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px; width: 429px;}
.send_bottom input[type=submit]{background: none repeat scroll 0 0 #1db290;border-radius: 5px;color: #fff;margin-top: 24px;padding: 20px;width: 430px;}
.send_bottom input[type=submit]:hover{}

.map_bottom{width: 432px;}
.map_bottom p{color: #fff;font-size: 16px;margin-top: 21px;}
.careers{background-image: image-url('careers_hero_inal.jpg');background-position:center center;background-size:cover;min-height:464px;width: 1280px;margin: 0 auto}
.careers h2{color: #ffffff ; font-size: 30px; font-family: 'open sans', sans-serif; padding-top: 150px;text-align: center;}

.position_area{background: #F6F6F6;}
.position{padding: 60px 146px 60px 195px;}
.position h2{color: #777777 ;padding-bottom: 18px;text-align: center; font-size: 30px;}
.position h4{color: #838383;line-height: 26px;margin-bottom: 34px;}
.position p{color: #bababa;}
.position a{border: 1px solid #1db290;border-radius: 5px;color: #1db290;display: block;padding: 18px;text-align: center;margin-top: 30px;}
.single_position{background: none repeat scroll 0 0 #ffffff;border-radius: 10px;box-shadow: 0 1px 0 #ddd;float: left;margin-right: 40px;margin-top: 50px;padding: 39px;width: 272px;}
.single_meet_team h1{color: #777777 ;font-size: 30px;padding-bottom: 50px;text-align: center;}
.single_meet_team h2{color: #7b7b7b;font-size: 18px; text-align: center; line-height: 2px}


.submit_area{background: #F6F6F6;color: #777777}
.submit{}
.submit a{color: #1db290;display: block;padding: 30px;text-align: center;}
.submit_title h2{margin-bottom: 26px;padding: 0 190px;}
.submit_title p{padding: 0 190px;}
.submit_title{background: none repeat scroll 0 0 #ffffff;padding: 42px 0;}
.submit_top{padding: 0 190px;}
.submit_left{width: 450px;}
.submit_left h4{font-size: 24px;padding-bottom: 32px;padding-top: 72px;}
.submit_left h6{font-size: 15px;margin-top: 18px;}
.submit_left input[type=text]{border: medium none;border-radius: 5px;font-size: 16px;margin-top: 16px;padding: 12px;width: 392px;}
.submit_right{width: 446px;}
.submit_right h4{font-size: 24px;padding-bottom: 82px;padding-top: 72px;}
.submit_right input[type=file]{}
.submit_right span{background: none repeat scroll 0 0 #777777;border: medium none;color: #fff;padding: 12px 60px;}
.submit_right span:hover{background: none repeat scroll 0 0 #777777;border: medium none;color: #fff;padding: 12px 60px;}
.submit_bottom{margin-top: 30px;text-align: center;}
.submit_bottom input[type=submit]{background: none repeat scroll 0 0 #1db290;border-radius: 5px;color: #fff;font-size: 16px;font-weight: normal;margin-top: 24px;padding: 24px;width: 280px;}
.submit_error_area{}
.submit_error_area {border: 1px solid #c70823;border-radius: 5px;color: #c70823;display: block;font-size: 14px;margin: 42px auto 0;padding: 12px;text-align: center;width: 380px;}
.btn-file {position: relative;overflow: hidden;}
.btn-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;font-size: 100px;text-align: right;filter: alpha(opacity=0);opacity: 0;outline: none;background: white;cursor: inherit;display: block;}
.color_hire { color: #ffffff; }
.color_hire:hover { color: #FFFFFF}

.cross{position: absolute;width: 100%;height: 100%;top: 23%;left: 20.5%;}
.thanxs{margin:0 auto;display:block}


.policy_body { margin-top: 10%;  margin-right: 15%;  margin-left: 15%;  }
.policy_body h1 { font-size: 30px; font-family: 'Open Sans', sans-serif; color: #777777; }
.policy_body h2 { font-size: 20px; font-family: 'Open Sans', sans-serif; color: #777777; }
.policy_body ul li {
    color: #777777;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 25px;
    list-style-type: none;
  }
